<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Jan Kowalski</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Free Website Template" name="keywords">
        <meta content="Free Website Template" name="description">

        <!-- Favicon -->
        <link href="../util/img/icon.ico" rel="icon">

        <!-- Google Web Fonts -->
        <link href="../util/css/font" rel="stylesheet">

        <!-- Icon Font Stylesheet -->
        <link href="../util/css/all.min.css" rel="stylesheet">


        <!-- Libraries Stylesheet -->
        <link href="../util/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
        <link href="../util/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
        <link href="../util/lib/animate/animate.min.css" rel="stylesheet">
        <link href="../util/lib/animate/animate.min.css" rel="stylesheet">
        <link href="../util/css/bootstrap-icons.css" rel="stylesheet">
        <link href="../util/css/bootstrap.min.css" rel="stylesheet">
        <link href="../util/css/style.css" rel="stylesheet">

    </head>

    <body>
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->

        <div class="container">
            <div class="row g-5">
                <div class="col-lg-4 sticky-lg-top vh-100">
                    <div class="d-flex flex-column h-100 text-center overflow-auto shadow">
                        <img class="w-100 img-fluid mb-4" src="img/main.jpg" alt="Image">
                        <h1 class="text-primary mt-2">Jan Kowalski</h1>
                    </div>
                </div>
                <div class="col-lg-8">
                    <!-- Informacje -->
                    <section class="py-5 border-bottom wow fadeInUp" data-wow-delay="0.1s">
                        <h1 class="title pb-3 mb-5">Informacje</h1>
                        <p>Jan Kowalski, kt&oacute;ry odszed&#322; z tego &#347;wiata, pozostawi&#322; po sobie kochaj&#261;c&#261; &#380;on&#281;
                            i tr&oacute;jk&#281; dzieci, kt&oacute;rzy b&#281;d&#261; go zawsze pami&#281;ta&#263;. Jako kierowca zawodowy,
                            Jan zyska&#322; szacunek i uznanie w&#347;r&oacute;d swoich koleg&oacute;w z pracy oraz klient&oacute;w.
                            By&#322; znany z niesamowitej uprzejmo&#347;ci i gotowo&#347;ci do pomocy innym, co sprawia&#322;o, &#380;e wszyscy go lubili.
                            Jego rodzina zawsze podziwia&#322;a go za ci&#281;&#380;k&#261; prac&#281; i oddanie, kt&oacute;re wykazywa&#322; ka&#380;dego dnia.
                            Mimo trud&oacute;w swojej pracy, zawsze znajdowa&#322; czas na wsp&oacute;lne chwile z rodzin&#261;,
                            kt&oacute;re teraz b&#281;d&#261; cennymi wspomnieniami. Jego u&#347;miech i ciep&#322;e s&#322;owa by&#322;y
                            balsamem dla duszy wszystkich, kt&oacute;rzy mieli szcz&#281;&#347;cie go zna&#263;. Jan pozostawi&#322; po sobie pustk&#281;,
                            kt&oacute;rej nikt nie jest w stanie wype&#322;ni&#263;, ale tak&#380;e mn&oacute;stwo pi&#281;knych wspomnie&#324;,
                            kt&oacute;re b&#281;d&#261; trwa&#322;y wiecznie w sercach jego bliskich.</p>
                        <div class="row mb-4">
                            <div class="col-sm-6 py-1">
                                <span class="fw-medium text-primary">Imi&#281;:</span> Jan Kowalski
                            </div>
                            <div class="col-sm-6 py-1">
                                <span class="fw-medium text-primary"></span>
                            </div>
                            <div class="col-sm-6 py-1">
                                <span class="fw-medium text-primary">Data urodzenia:</span> 10 maj 1962
                            </div>
                            <div class="col-sm-6 py-1">
                                <span class="fw-medium text-primary">Data &#347;mierci:</span> 15 czerwiec 2022
                            </div>
                        </div>
                    </section>
                    <!-- Informacje -->

                    <!-- Wspomnienia -->
                    <section class="py-5 border-bottom wow fadeInUp" data-wow-delay="0.1s">
                        <h1 class="title pb-3 mb-5">Wspomnienia</h1>
                        <div class="owl-carousel testimonial-carousel">
                            <div class="text-left">
                                <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                                <p class="fs-4 mb-4">Janek by&#322; cz&#322;owiekiem o wielkim sercu. Zawsze dba&#322; o swoj&#261; rodzin&#281; i po&#347;wi&#281;ca&#322; im ca&#322;e swoje &#380;ycie. Jego ciep&#322;e u&#347;miechy i m&#261;dre rady pozostan&#261; w mojej pami&#281;ci na zawsze.</p>
                                <div class="d-flex align-items-center">
                                    <img class="img-fluid" src="../util/img/icon.png" style="width: 60px; height: 60px;">
                                    <div class="ps-3">
                                        <p class="text-primary fs-5 mb-1">Anna</p>
                                        <i>&#379;ona</i>
                                    </div>
                                </div>
                            </div>

                            <div class="text-left">
                                <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                                <p class="fs-4 mb-4">M&#243;j tata, by&#322; moim najwi&#281;kszym bohaterem. Zawsze s&#322;u&#380;y&#322; mi rad&#261; i pomoc&#261;, niezale&#380;nie od sytuacji. Jego odwaga i determinacja zainspirowa&#322;y mnie do osi&#261;gni&#281;cia moich marze&#324;.</p>
                                <div class="d-flex align-items-center">
                                    <img class="img-fluid" src="../util/img/icon.png" style="width: 60px; height: 60px;">
                                    <div class="ps-3">
                                        <p class="text-primary fs-5 mb-1">Kasia</p>
                                        <i>C&#243;rka</i>
                                    </div>
                                </div>
                            </div>

                            <div class="text-left">
                                <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                                <p class="fs-4 mb-4">Tata by&#322; niezast&#261;pionym mentorem i przyjacielem. Jego pracowito&#347;&#263; i uczciwo&#347;&#263; zawsze by&#322;y dla mnie wzorem do na&#347;ladowania. B&#281;d&#281; zawsze wdzi&#281;czny za jego m&#261;dro&#347;&#263; i wsparcie.</p>
                                <div class="d-flex align-items-center">
                                    <img class="img-fluid" src="../util/img/icon.png" style="width: 60px; height: 60px;">
                                    <div class="ps-3">
                                        <p class="text-primary fs-5 mb-1">Marcin</p>
                                        <i>Syn</i>
                                    </div>
                                </div>
                            </div>


                            <div class="text-left">
                                <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                                <p class="fs-4 mb-4">Janek by&#322; nie tylko doskona&#322;ym pracownikiem, ale r&#243;wnie&#380; wspania&#322;ym przyjacielem. Jego poczucie humoru i pozytywne podej&#347;cie do &#380;ycia sprawia&#322;y, &#380;e praca by&#322;a przyjemno&#347;ci&#261;. Zawsze pami&#281;ta&#263; b&#281;d&#281; o jego &#380;yczliwo&#347;ci i gotowo&#347;ci do pomocy.</p>
                                <div class="d-flex align-items-center">
                                    <img class="img-fluid" src="../util/img/icon.png" style="width: 60px; height: 60px;">
                                    <div class="ps-3">
                                        <p class="text-primary fs-5 mb-1">Adam</p>
                                        <i>Kolega z pracy</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Wspomnienia -->

                    <!-- Galeria -->
                    <section class="py-5 border-bottom wow fadeInUp" data-wow-delay="0.1s">
                        <h1 class="title pb-3 mb-5">Galeria</h1>
                        <div class="row">
                            <div class="col-12">
                                <div class="row portfolio-container">
                                    <div class="col-md-6 mb-4 portfolio-item first">
                                        <div class="position-relative overflow-hidden mb-2">
                                            <img class="img-fluid w-100" src="img/galery-1.jpg" alt="">
                                            <div class="portfolio-btn d-flex align-items-center justify-content-center">
                                                <a href="img/galery-1.jpg" data-lightbox="portfolio">
                                                    <i class="bi bi-plus text-light"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4 portfolio-item second">
                                        <div class="position-relative overflow-hidden mb-2">
                                            <img class="img-fluid w-100" src="img/galery-2.jpg" alt="">
                                            <div class="portfolio-btn d-flex align-items-center justify-content-center">
                                                <a href="img/galery-2.jpg" data-lightbox="portfolio">
                                                    <i class="bi bi-plus text-light"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4 portfolio-item first">
                                        <div class="position-relative overflow-hidden mb-2">
                                            <img class="img-fluid w-100" src="img/galery-3.jpg" alt="">
                                            <div class="portfolio-btn d-flex align-items-center justify-content-center">
                                                <a href="img/galery-3.jpg" data-lightbox="portfolio">
                                                    <i class="bi bi-plus text-light"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4 portfolio-item second">
                                        <div class="position-relative overflow-hidden mb-2">
                                            <img class="img-fluid w-100" src="img/galery-4.jpg" alt="">
                                            <div class="portfolio-btn d-flex align-items-center justify-content-center">
                                                <a href="img/galery-4.jpg" data-lightbox="portfolio">
                                                    <i class="bi bi-plus text-light"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Galeria -->

                    <!-- Fakty z zycia -->
                    <section class="py-5 wow fadeInUp" data-wow-delay="0.1s">
                        <h1 class="title pb-3 mb-5">Fakty z &#380;ycia</h1>
                        <div class="border-start border-2 border-light pt-2 ps-5">
                            <div class="position-relative mb-4">
                                <span class="bi bi-arrow-right fs-4 text-light position-absolute" style="top: -5px; left: -50px;"></span>
                                <h5 class="mb-1">Studia na Politechnice Warszawskiej</h5>
                                <p class="mb-2">Politechnika Warszawska | <small>1981 - 1985</small></p>
                                <p>Uko&#324;czy&#322; studia na Wydziale Mechanicznym Politechniki Warszawskiej z tytu&#322;em magistra in&#380;yniera. Jego zaanga&#380;owanie w nauk&#281; i pasja do motoryzacji przyczyni&#322;y si&#281; do wyboru kariery zawodowego kierowcy.</p>
                            </div>
                            <div class="position-relative mb-4">
                                <span class="bi bi-arrow-right fs-4 text-light position-absolute" style="top: -5px; left: -50px;"></span>
                                <h5 class="mb-1">Kierowca w Przedsi&#281;biorstwie Transportowym PKS</h5>
                                <p class="mb-2">PKS Warszawa | <small>1986 - 1995</small></p>
                                <p>Przez niemal dekad&#281; pracowa&#322; jako kierowca autobus&#243;w w PKS, zyskuj&#261;c reputacj&#281; niezawodnego i uprzejmego pracownika. Jego zaanga&#380;owanie w bezpiecze&#324;stwo pasa&#380;er&#243;w oraz punktualno&#347;&#263; sprawi&#322;y, &#380;e by&#322; ceniony przez pasa&#380;er&#243;w i wsp&#243;&#322;pracownik&#243;w.</p>
                            </div>
                            <div class="position-relative mb-4">
                                <span class="bi bi-arrow-right fs-4 text-light position-absolute" style="top: -5px; left: -50px;"></span>
                                <h5 class="mb-1">Przeprowadzka do Wroc&#322;awia i za&#322;o&#380;enie rodziny</h5>
                                <p class="mb-2">Wroc&#322;aw | <small>1996 - 2010</small></p>
                                <p>W 1996 roku przeni&oacute;s&#322; si&#281; do Wroc&#322;awia, gdzie rozpocz&#261;&#322; nowy etap &#380;ycia, zak&#322;adaj&#261;c rodzin&#281;. Wsp&oacute;lnie z &#380;on&#261; wychowali tr&oacute;jk&#281; dzieci, tworz&#261;c ciep&#322;y i kochaj&#261;cy dom.</p>
                            </div>
                            <div class="position-relative mb-4">
                                <span class="bi bi-arrow-right fs-4 text-light position-absolute" style="top: -5px; left: -50px;"></span>
                                <h5 class="mb-1">Pasja fotografii</h5>
                                <p class="mb-2">Wroc&#322;aw | <small>2011 - 2022</small></p>
                                <p>Ukochany m&#261;&#380; i ojciec, by&#322; nie tylko &#347;wietnym kierowc&#261;, ale tak&#380;e pasjonatem fotografii. Sp&#281;dza&#322; wiele czasu na rejestrowaniu wa&#380;nych chwil rodzinnych i podr&#243;&#380;uj&#261;c, uwiecznia&#322; pi&#281;kno &#347;wiata w obiektywie aparatu.</p>
                            </div>
                        </div>
                    </section>
                    <!-- Fakty z zycia -->
                </div>
            </div>
        </div>

        
        <!-- Back to Top -->
        <a href="#" class="back-to-top"><i class="fa fa-angle-double-up"></i></a>
        
        <!-- JavaScript Libraries -->
        <script src="../util/js/jquery-3.4.1.min.js"></script>
        <script src="../util/js/bootstrap.bundle.min.js"></script>
        <script src="../util/lib/wow/wow.min.js"></script>
        <script src="../util/lib/typed/typed.min.js"></script>
        <script src="../util/lib/easing/easing.min.js"></script>
        <script src="../util/lib/waypoints/waypoints.min.js"></script>
        <script src="../util/lib/counterup/counterup.min.js"></script>
        <script src="../util/lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="../util/lib/isotope/isotope.pkgd.min.js"></script>
        <script src="../util/lib/lightbox/js/lightbox.min.js"></script>


        <!-- Template Javascript -->
        <script src="../util/js/main.js"></script>
    </body>
</html>
